*{margin: 0; padding: 0;}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*{font-family: 'Noto Sans KR', sans-serif; color: #1a1a1a;}

a{text-decoration: none;}

#header{height: 64px; display: flex; justify-content: center; border-bottom: 1px solid gray;}
.section{width: 1720px; margin: 0 auto;}
.section h2{margin: 60px auto; text-align: center; font-size: 42px; font-weight: 900; color: #1a1a1a;}
#footer{height: 200px; background-color: #e4e4e4; display: flex; flex: 1 1 15%; justify-content: center; align-items: center;}
#footer a{text-decoration: none; color: #333; padding: 20px;}
#banner{height: 848px;}
#banner a img{width: 100%;}

#header-area{width: 1720px; height: 100%; display: flex; align-items: center;}
#header-area > img{width: 128px;}

#product-list{display: flex; flex-wrap: wrap;}
.product-card{width: 413px; height: 763px; margin-right: 20px; margin-bottom: 12px; border: 1px solid rgba(230, 230, 230, 1); border-radius: 12px;}
.product-card:last-child{margin: 0;}
.product-img{width: 100%;}
.product-content{display: flex; flex-direction: column; padding: 8px;}
.product-name{font-size: 16px;}
.product-price{font-size: 22px; font-weight: 500; margin-top: 4px;}
.product-seller{display: flex; align-items: center; margin-top: 12px;}
.product-avatar{width: 24px;}